<div class="about">
	<h1>What is Community Friends?</h1>
	<div class="about-info">
		<br>
  		<p>
  			<h2>A place where you can connect, meet and socialize with persons and events in your neighborhood community.</h2>
  			<br>
  			<h3>Simply sign up, wait for a community lead to verify that you are a community member and start socializing right away!</h3>
  		</p>
  		<br>
	</div>
</div>