<div class="row">
  <div class="col-lg-8 col-lg-offset-2 well">
    <h3>My Conversations</h3>
    <table class="bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <% @conversations.each do |convo| %>
        <tr>
          <td><%= convo.recipient %></td>
          <td><%= link_to 'Show', conversation_path%></td>
        </tr>
      <% end %>
    </table>
    <br>
    <%= link_to 'Back', user_path(current_user) %>
  </div>
