<div class="row">
  <div class="col-lg-3">
    <%= render 'appwide/side_links' %>
  </div>
  <div class="col-lg-4 well">
    <%= render 'appwide/friends' %>
  </div>
  <div class="col-lg-5 well">
    <%= render 'appwide/conversations' %>
  </div>
</div>
