<div id="links" class="chat-c">
  <p class="title">Your Conversations</p>
  <% if @conversations.any? %>
    <ul class="media-list">
    <% @conversations.each do |conversation| %>
      <li class="media">
        <%= image_tag("http://placehold.it/50x50", class: "media-object pull-left") %>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to conversation_interlocutor(conversation).name, conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %></h4>
          <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>You have no conversations. Click send message with any user to create one.</p>
  <% end %>
</div>