<div id="links" class="chat">
	<p class="title">Members</p>
	<table class="bordered">
	    <% @users.each do |user| %>
	      <tr>
	        <th>
	        	<%= image_tag(user.avatar.url, :width => 30)%>
	        	<ul style="list-style: none;"> 
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown"><%= user.name %></a>
						<ul class="dropdown-menu">
<!-- 						  	<li><%= link_to 'View Profile', user_path(user) %></li>-->						  	
								<li><%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    			"data-sid" => current_user.id, "data-rip" => user.id %>
                    	  	</li>
						</ul>
					</li>
				</ul>	        
			</th>
	      </tr>
	    <% end %>
	</table>
</div>
