<div class="row">
  <div class="col-lg-3">
    <%= render 'appwide/side_links' %>
  </div>
  <div class="col-lg-6 well">
    <%= render 'form' %>
  </div>
  <div class="col-lg-3">
    <%= render 'appwide/links' %>
  </div>
</div>
