<%= content_tag(:p, notice, id: "notice") unless notice.nil? %>

<aside id="profile-panel">
  <h1 class="user-title">
    <%= @user.fname %>
  </h1>
  <% if signed_in? && @user.id == current_user.id %>
    <div class="user-settings">
      <p class="title">My Actions</p>
      <p><%= link_to "New Post", posts_path, :style => 'color:#000000;' %></p>
      <p><%= link_to "New Event", new_event_path, :style => 'color:#000000;' %></p>
    </div>
  <% end %>
</aside>

