<% content_for :title do %>Community Friends<% end %>
<% content_for :description do %>Community Friends<% end %>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="header1.jpg">
		</div>
	</div>
</div>
