<% content_for :title do %>Community Friends<% end %>
<% content_for :description do %>Community Friends<% end %>

<div class="row row-no-padding">
	<div class="col-lg-12">
		<div id="bg">
  			<img src="header1.jpg" alt="">
		</div>
	</div>
</div>
