<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Where the hood at</h1>
<p>Welcome to social network of neighborhoods all over America</p>
<p>Please login to continue</p>

<h1>I got bigger font guys :) </h1>


<p>Find your neighbours here!</p>

<p> Please sign up </p>

<p> created my branch see it?</p>

<p> need some milk?</p>
